.contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.conteudo {
  margin-top: 1rem;
  display: grid;
  gap: 0.8rem;
  align-self: start;
}

.contato img {
  overflow: hidden;
  border-radius: 4px;
}

.informacoes {
  display: grid;
  gap: 0.5rem;
}

.informacoes li {
  font-size: 1.1rem;
  font-weight: 400;
}

.informacoes li::before {
  content: '';
  display: inline-block;
  margin-right: 0.5rem;
  width: 1.7rem;
  height: 0.15rem;
  background: #edeced;
}
